
.icon-pinterest-circled:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-google:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-vimeo-squared:before { content: '\e807'; } /* '' */
.icon-youtube:before { content: '\e808'; } /* '' */